main{
  display: flex;
}

#div{
  width: 300px;
  height: 600px;
}

h1 {
  margin-left: 20px;
  color: aquamarine;
}

#lines {
  font-size: 30px;
  font-weight: bold;
  color: blue;
  text-align: center;
}

#score {
  font-size: 30px;
  font-weight: bold;
  color: blue;
  text-align: center;
}

#next {
 margin-left: 50px;
}