main{
  display: flex;
}

#div{
  width: 300px;
  height: 600px;
}

h1 {
  color: aquamarine;
}

#lines {
  font-size: 30px;
  font-weight: bold;
  color: blue;
  text-align: right;
}

#score {
  font-size: 30px;
  font-weight: bold;
  color: blue;
  text-align: right;
}